<div class="ui center aligned header">
  <h1>Awaiting your request.</h1>
  <h3>With an ever growing pool of freelancers, find the perfect match for your job within hours.</h3>
</div>
<br />

<div class="ui fifteen wide centered three column grid">
  <br />
  <div class="five wide center aligned column">
    Submit your needs.
  </div>
  <div class="five wide center aligned column">
    Experienced freelancers review your request.
  </div>
  <div class="five wide center aligned column">
    Start work!
  </div>


</div>
