<div class="ui raised segments">

  <div class="ui segment">
    <div class="ui fluid left icon input">
      <i class="user icon"></i>
      <%= f.email_field :name, placeholder: "Name", autofocus: true %>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui fluid left icon input">
      <i class="mail icon"></i>
      <%= f.email_field :email, id: 'email', placeholder: "Email Address", autofocus: true %>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui fluid left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password, id: 'password', placeholder: "Password [#{@minimum_password_length} characters minimum]", autocomplete: "off" %>
    </div>
  </div>

  <div class="ui segment">
    <div class="ui fluid left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password_confirmation, id: 'password_confirmation', placeholder: "Confirm Password", autocomplete: "off" %>
    </div>
  </div>

  <div class="ui segment">
    <%= f.action :submit, label: "Sign up", id: 'sign-up', button_html: { class: "ui fluid large blue submit button" } %>
  </div>

</div>
