<div class="ui middle aligned center aligned grid">
  <div class="eight wide column">
    <h2 class="ui header">
      <div class="content">
        Edit <%= resource_name.to_s.humanize %>
      </div>
    </h2>

    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="ui raised segments">
        <div class="ui segment">
          <div class="ui fluid left icon input">
            <i class="user icon"></i>
            <%= f.email_field :name, placeholder: "Name", autofocus: true %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

      <div class="ui segment">
        <div class="ui fluid left icon input">
          <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: "New password - Leave blank if you dont wish to change" %>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui fluid left icon input">
          <i class="lock icon"></i>
          <%= f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "off" %>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui fluid left icon input">
          <i class="lock icon"></i>
          <%= f.password_field :current_password, id: 'current_password', autocomplete: "off", placeholder: "Current password (needed to confirm changes)" %>
        </div>
      </div>

      <div class="ui segment">
        <%= f.action :submit, label: "Update", button_html: { class: "ui large fluid blue submit button" } %>
      </div>
    <% end %>
  </div>
</div>
