<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui header">
      <div class="content">Sign Up</div>
    </h2>
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name),
                  html: { class: "ui large form" }  ) do |f| %>
      <%= devise_error_messages! %>

      <%= render 'form', { f: f }%>

    <% end %>

    <div class="ui message">
      Already seen the light? <%=  render "devise/shared/links" %>
    </div>
  </div>
</div>
