<div class="ui comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="content">
        <div class="author">
          <%= comment.user.name %>
          <div class="metadata">
            <span class="date"><%=format_time(comment.created_at) %></span>
          </div>
        </div><br>
        <div class="message">
          <%= comment.message %>
        </div>
      </div>
    </div>
  <% end %>
</div>
