<%= semantic_form_for(comment, html: {class: 'ui form'}) do |f| %>
  <%= f.input :message,
              placeholder: !local_assigns[:placeholder].nil? ? local_assigns[:placeholder] : 'Write a comment...',
              label: false,
              wrapper_html: { class: 'field' },
              input_html: { rows: 3 } %>
  <%= f.action :submit, label: local_assigns[:submit_button_text], button_html: { class: 'right floated small ui blue button'} %>
<% end %>
