<div class="ui three column grid">
  <div class="two wide column">
    <!-- filler -->
  </div>

  <div class="six wide column">
    <h1>Edit Qualification</h1>

    <%= semantic_form_for(@qualification, html: { class: 'ui form', method: :put }) do |f| %>
      <%= f.input :name, label: false, wrapper_html: { class: 'field' }, :input_html => { rows: 1 } %>
      <%= f.input :description, label: false, wrapper_html: { class: 'field' }, :input_html => { rows: 3 } %>
      <%= f.action :submit, label: 'Update Qualification', button_html: { class: 'small right floated ui blue submit button' } %>
    <% end %>
  </div>
</div>
