<div class="ui four column grid">
  <div class="two wide column">
    <!-- filler -->
  </div>
  
  <div class="eight wide column">
    <h2>Qualifications</h2>
    <% @qualifications.each do |qualification| %>

    <table class="ui celled table">
      <tbody>
          <tr>
            <td class="collapsing">
              <h3><%= qualification.name %>
              <%= link_to edit_qualification_path(qualification), class: 'right-floated', title: "Edit" do %>
                <i class="edit icon"></i>
              <% end %>
              <%= link_to qualification_path(qualification), method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'right-floated' do %>
                <i class="red remove icon"></i>
              <% end %></h3>
            </td>
          </tr>
          <tr>
            <td>
              <%= qualification.description %>
            </td>
          </tr>

      </tbody>
    </table>
    <% end %>
  </div>

  <div class="four wide column">
    <h3>Add another qualification:</h3>

    <%= semantic_form_for(@qualification, html: {class: 'ui form'}) do |f| %>
      <%= f.input :name, label: false, placeholder: 'Qualification name', wrapper_html: { class: 'field' }, input_html: { rows: 1 } %>
      <%= f.input :description, placeholder: 'Description', label: false, wrapper_html: { class: 'field' }, input_html: { rows: 4 } %>
      <%= f.action :submit, label: 'Add Qualification', button_html: { class: 'small right floated ui blue submit button' } %>
    <% end %>
  </div>
</div>
