<div class="ui two column grid">
  <div class="seven wide column">
    <div class="ui segment">
      <div class="ui items">
        <div class="content">
        <%= request.name %>
        <%= format_time(request.created_at) %>
          <div class="details">
            <%= request.details %>
          </div>
          <div class="extra">
            <br />TODO: Tags. State: <%= request.state_machine.current_state %>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="one wide column">
    <h3>
    <% if policy(request).edit? %>
      <%= link_to edit_job_request_path(request), class: 'left-floated', title: "Edit" do %>
        <i class="edit icon"></i>
      <% end %>
    <% end %>

    <% if policy(request).show? %>
      <%= link_to job_request_path(request), class: 'left-floated', title: "Show" do %>
        <i class="unhide icon"></i>
      <% end %>
    <% end %>

    <% if policy(request).destroy? %>
      <%= link_to job_request_path(request), method: :delete, data: { confirm: "Are you sure?" }, class: 'left-floated' do %>
        <i class="red remove icon"></i>
      <% end %>
    <% end %>

    <% if policy(request).destroy? %>
      <%= link_to job_request_job_applications_path(request), class: 'left-floated', title: "Applications" do %>
        <i class="mail outline icon"></i>
      <% end %>
    <% end %>
    </h3>
  </div>
</div>
