<div class="ui three column grid">
  <div class="two wide column">
    <!--  LHS column -->
  </div>

  <div class="twelve wide column">
    <h2>Browse Job Opportunities</h2>

    <% @job_requests.each do |request| %>
      <%= render 'job_requests/job_request', { request: request } %>
    <% end %>
  </div>

  <div class="two wide column">
    <!--  LHS column -->
  </div>
</div>
