<div class="ui three column grid">
  <div class="two wide column">

  </div>
  <div class="twelve wide column">
    <h1>JobRequests#new</h1>
    <p>Find me in app/views/job_requests/new.html.erb</p>

    <%= semantic_form_for(@job_request, html: { class: 'ui form'}) do |f| %>
      <%= f.input :name, label: false, placeholder: "Job Title", wrapper_html: { class: 'field' } %>
      <%= f.input :details, label: false, placeholder: "Job details", wrapper_html: { class: 'field' }, input_html: { rows: 8 } %>
      <%= f.action :submit, label: 'Submit Job', button_html: { class: 'small right floated ui blue submit button' } %>
    <% end %>
  </div>
  <div class="two wide column">

  </div>
</div>
