<div class="ui four column stackable grid">
  <div class="two wide column">
    <!--  LHS column -->
  </div>
  <div class="six wide column">
    <div class="ui fluid card">
      <div class="content">
        <div class="title"><b><%= @job_request.name %></b>
          <span class="right floated time">
            <%= format_time(@job_request.created_at) %>
          </span>
        </div><br>
        <div class="details">
          <%= @job_request.details %>
        </div><br>
        <div class="further_information">
          <%= @job_request.further_information %>
        </div>
      </div>
      <% if @current_user_profile == '0' %>
        <%= link_to main_app.job_request_transition_path(@job_request), data: { }, method: :patch, class: 'ui bottom attached button' do %>
          Apply
        <% end %>
      <% end %>
    </div>

    <div class="ui fluid card">
      <div class="image">

      </div>
      <div class="content">
        <div class="header"><%= @recruiter.name %></div>
        <div class="meta">Posted at <%= format_time(@job_request.created_at) %></div>
      </div>
      <div class="extra content">
        X Job completed
        <span class="right floated"><%= button_tag "Message #{@recruiter.name}", type: 'button', id: 'show-message-form', class: 'ui right floated small button' %></span>
      </div>
    </div>

    <div class="" id="message-form">
      <%= render partial: 'comments/form', locals: { comment: [@recruiter, @message], placeholder: "Write a message...", submit_button_text: "Send Message" } %>
    </div>
  </div>

  <div class="six wide column" id="job-request-comment-form">
    <% if policy(@job_request).update? %>
      <%= link_to main_app.job_request_transition_path(@job_request),  method: :patch, title: "Complete", class: 'ui positive right floated button' do %>
        Mark as complete
      <% end %>
      <br />
    <% end %>

    <%= render 'comments/comment', { comments: @comments } %>
    <%= render partial: 'comments/form', locals: { comment: [@job_request, @comment], submit_button_text: "Post Comment" } %>
  </div>

  <div class="two wide column">
    <!-- RHS column -->
  </div>
</div>


<script>
  $(function () {
    JobRequests.messageFormInit();
  });
</script>
