<div class="ui four column stackable grid">
  <div class="two wide column">
    <!--  LHS column -->
  </div>

  <div class="six wide column">
    <h1>Message and Comments</h1>
    <% @notifications.each do |n| %>
      <%= link_to "Notification #{n.id}", n %>
    <% end %>

    <h1>Job Applications</h1>
    <% @job_application_notifications.each_with_index do |application, idx| %>

    <div class="ui fluid card">
      <div class="content">
        <div class="title">
          Application received for: <%= link_to "#{@job_requests[idx].name}", job_request_path(@job_requests[idx]) %><br />
          <span class="right floated">
            <%#= link_to "View #{@applicants[idx].name}'s Profile", profile_path(@applicants[idx].profiles.first) %>
          </span>
        </div>
        <div class="application_message">
          Message: <%= application.application_message %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="six wide column">

  </div>

  <div class="two wide column">
    <!--  RHS column -->
  </div>
