<table class="ui celled definition table">
  <tbody>
    <tr>
      <td class="collapsing">My skills are:</td>
      <td>
        <%= @skills.map do |skill| skill.description end.join(', ').html_safe %>
      </td>
    </tr>
    <tr>
      <td class="collapsing">My qualifications include:</td>
      <td>

      <% @qualifications.each_with_index do |qualification| %>
          <%= "<br />".html_safe unless qualification == @qualifications.first %>
          <div class="">
            <%= qualification.name %>
          </div>
           - <%= qualification.description %><br />

      <% end %>
    </td>
    </tr>
    <tr>
      <td class="collapsing">Self introduction:</td>
      <td><%= @profile.self_introduction %></td>
    </tr>
  </tbody>
</table>
