<table class="ui table">
  <thead>
    <tr>
      <th colspan="3">
      <%= @user.name %>
      <% if current_user == @user %>
        <%= link_to qualifications_path, class: "ui right floated small labeled icon button", title: "Edit" do %>
          <i class="edit icon"></i> Edit Qualifications
        <% end %>
        <%= link_to skills_path, class: "ui right floated small labeled icon button", title: "Edit" do %>
          <i class="edit icon"></i> Edit Skills
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr class="top aligned">
      <td class="collapsing">
        <%= image_tag("profile_picture.jpg", height: 200) %>
      </td>
      <td>
        <%= render partial: "bio" %>
      </td>
    </tr>

  </tbody>
</table>
