<h1>Users</h1>

<% @users.each do |user| %>
  <li>
    <%= link_to(user.name, user_path(user.id)) %>
    <% if current_user.admin? %>
      <%= link_to("Edit", edit_user_registration_path(user)) %>
    <% end %>
  </li>
<% end %>