<div class="ui three column grid">
  <div class="two wide column">
    <!--  LHS column -->
  </div>

  <% if session[:current_profile_id].eql? '0' %> <!-- freelancer profile -->
    <div class="twelve wide column">
      <h1>Profile</h1>

      <h2>Job you've applied for</h2>
        <% @active_jobs.each do |job| %>
          <%#= render 'claimed_jobs/claimed_job', { request: job } %>
          <%= render 'job_requests/job_request', { request: job } %>
        <% end %>

      <h2>Jobs you are current working on</h2>
      <% @accepted_applications.each do |application| %>
        <%= render 'job_requests/job_request', { request: application } %>
      <% end %>

      <h2>Your public profile</h2>

      <%= render partial: "profile_overview" %>

      <%= semantic_form_for(@profile, html: { class: 'ui form', method: :put}) do |f| %>
        <%= f.input :self_introduction, label: 'Update self introduction', wrapper_html: { class: 'field' }, input_html: { rows: '5'} %>

        <%= f.action :submit, button_html: { class: 'ui small right floated blue submit button' } %>
      <% end %>
    </div>

  <% elsif session[:current_profile_id].eql? '1' %> <!-- Recruiter -->

    <div class="twelve wide column">
      <h2>Profile</h2>

      <%= link_to new_job_request_path, class: 'ui right floated small labeled icon blue button' do %>
        <i class="add circle icon"></i>New Job Request
      <% end %>
      
      <h2>Jobs you are currently advertising</h2>
        <% @open_jobs.each do |job| %>
          <%= render 'job_requests/job_request', { request: job } %>
        <% end %>

      <h2>Jobs in progress</h2>
        <% @accepted_applications.each do |job| %>
          <%= render 'job_requests/job_request', { request: job } %>
        <% end %>
      </div>

  <% end %>

  <div class="two wide column">
    <!--  RHS column -->
  </div>
</div>
