<div class="ui four column stackable grid">
  <div class="two wide column">
    <!--  LHS column -->
  </div>

  <div class="six wide column">
    <h1>Applicants for <%= @job_request.name %></h1>

    <% @job_applications.each_with_index do |application, idx| %>
      <% if policy(application).show? %>
        <!-- highlight unseen applications in yellow. (#ffffe6) -->
        <div class="ui fluid card " <%= application.seen? ? ' ' : 'style=background-color:#ffffe6' %>>
          <div class="content">
            <div class="title">
              Applicant: <%= @applicants[idx].name %>
              <span class="right floated">
                <%= link_to "View #{@applicants[idx].name}'s Profile", profile_path(@applicants[idx].profiles.first) %>
              </span>
            </div>
            <div class="application_message">
              Message: <%= application.application_message %>
            </div>
          </div>
          <% if @job_request.in_state?(:open) %>
            <%= link_to job_request_job_application_path(@job_request, application), title: "Accept Application", method: :patch, class: 'ui bottom attached icon button' do %>
              <i class="rocket icon"></i>Accept Application
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @job_applications.empty? %>
      <h2>No applications to show.</h3>
    <% end %>
  </div>

  <div class="six wide column">
  </div>

  <div class="two wide column">

  </div>
</div>
