<div class="ui four column grid">
  <div class="two wide column">
    <!-- nothing -->
  </div>

  <div class="six wide column">
    <h1>Edit Skills</h1>
    <%= semantic_form_for(@skill, html: { class: 'ui form', method: :put }) do |f| %>
      <%= f.input :description, label: false, wrapper_html: { class: 'field'} %>

      <%= f.action :submit, label: 'Update Skill', button_html: { class: 'small right floated ui blue submit button' } %>
    <% end %>
  </div>
</div>
