<div class="ui four column grid">
  <div class="two wide column">
    <!-- nothing -->
  </div>

  <div class="eight wide column">
    <h2>Skills</h2>

    <% @skills.each do |skill| %>

    <table class="ui celled table">
      <tbody>
        <tr>
          <td class="collapsing">
            <h3><%= skill.description %>
            <%= link_to skill_path(skill), method: :delete, data: { confirm: 'Are you sure?' },
                class: 'right-floated' do %>
              <i class="red remove icon"></i>
            <% end %>
            <%= link_to edit_skill_path(skill), class: 'right-floated' do %>
              <i class="edit icon"></i>
            <% end %></h3>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>

  <div class="four wide column">
    <h3>Add a new skill</h3>
    <%= semantic_form_for(@skill, html: { class: 'ui form' }) do |f| %>
      <%= f.input :description, label: false, placeholder: 'Skill description', wrapper_html: { class: 'field' } %>

      <%= f.action :submit, label: "Add Skill", button_html: { class: 'small right floated ui blue submit button'} %>
    <% end %>
  </div>
</div>
