Probably do not need this form anymore. If you are seeing this, consider using
job_request/_job_request.html.erb instead?
<div class="ui segment">
  <div class="ui items">
    <div class="content">
      <% puts request.inspect %>
    <%= request.name %>
    <%= format_time(request.created_at) %>
      <div class="details">
        <%= request.details %>
      </div>
      <div class="extra">
        <br />TODO: Tags. State: <%= request.state_machine.current_state %>
      </div>
    </div>
  </div>
</div>
