<div class="ui middle aligned center aligned grid">
  <%= devise_error_messages! %>
  <div class="six wide column">
    <h2 class="ui header">
      <div class="content">Log in</div>
    </h2>
    <%= semantic_form_for(resource, as: resource_name, url: session_path(resource_name),
                  html: { class: "ui large form" }  ) do |f| %>
      <div class="ui raised segments">
        <div class="ui segment">
          <div class="ui fluid left icon input">
            <i class="mail icon"></i>
            <%= f.email_field :email, id: 'email', placeholder: "Email Address", autofocus: true %>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui fluid left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, id: 'password', placeholder: "Password", autocomplete: "off" %>
          </div>
        </div>
        <div class="ui segment">
          <%= f.action :submit, label: "Log in", button_html: { class: "ui fluid large blue submit button" } %>
        </div>
      </div>
    <% end %>

    <div class="ui message">
      New here? <%=  render "devise/shared/links" %>
    </div>
  </div>
</div>
