/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

.ui.message {
  margin-left: 10%;
  margin-right: 10%;
  .close.icon {
    display: none;
  }
 }

.right-floated {
  float: right;
  text-align: right;
}

.left-floated {
  float: left;
  text-align: left;
}

/* remove bullet points from formtastics forms */
ul, ol, li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-title {
  font-weight: bold;
}
