<div class="ui top menu">
    <%= link_to(root_path, class: 'item') do %>
      Home
    <% end %>
    <%= link_to(about_path, class: 'item') do %>
      About
    <% end %>

    <% if policy(Notification).index? %>
      <%= link_to notifications_path, class: 'item' do %>
        Notifications: <%= notifications %>
        <% end %>
    <% end %>

    <% if under_freelancer? && policy(JobRequest).index? %>
      <%= link_to job_requests_path, class: 'item' do %>
        Job Opportunities
      <% end %>
    <% end %>

    <% if !user_signed_in? %>
      <div class="right menu">
        <%= link_to(new_user_session_path, class: 'item') do %>
          Login
        <% end %>
      </div>

    <% else %>

      <div class="right menu">
        <div class="item">
          Profile type: <%= session[:current_profile_id] == '0' ? 'Freelancer' : 'Recruiter' %>
        </div>

        <div class="ui simple dropdown item">
          <span>Account</span>
          <i class="dropdown icon"></i>
          <div class="menu" id="profile_menu">
            <%= link_to profile_switch_path('0'), data: { value: '0' }, method: :patch, class: 'item' do  %>
              Freelancer
            <% end %>
            <%= link_to profile_switch_path('1'), data: { value: '1' }, method: :patch, class: 'item' do  %>
              Recruiter
            <% end %>
            <div class="ui dividing header"></div>
            <%= link_to edit_user_registration_path, class: 'item' do %>
              Edit Details
            <% end %>
          </div>
        </div>

        <%= link_to "Sign out", destroy_user_session_path, class: 'item',
                      method: :delete, disable_with: 'Logging out...'  %>
        </div>
    <% end %>
</div>
